<div class="container-fluid dashboard">
    <img src="/asset/images/default-hero.jpeg" class="img-responsive" id="cover-photo">
    <div class="row content-wrapper">
        <div class="col-xs-12 col-sm-3 column-1">
            <div class="panel" id="profile-tile"></div>

            <div class="panel" id="friend-suggestion"></div>

            <div class="panel" id="friend-list"></div>
        </div>
        <div class="col-xs-12 col-sm-9 column-2">
            <div class="navbar">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dashboard-header">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand dashboard-title" href="#"></a>
                </div>

                <div class="collapse navbar-collapse" id="dashboard-header">
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" class="tab-item"><a href="#" role="tab" data-toggle="tab">Timeline</a></li>
                        <li role="presentation" class="tab-item"><a href="#" role="tab" data-toggle="tab">About</a></li>
                        <li role="presentation" class="tab-item"><a href="#" role="tab" data-toggle="tab">Photos</a></li>
                        <li role="presentation" class="tab-item"><a href="#" role="tab" data-toggle="tab">Friends</a></li>
                    </ul>
                </div>
            </div>

            <div id="dashboard-content"></div>
        </div>
    </div>
</div>
