<div class="panel-heading">Who To Follow</div>
<div class="panel-body suggestion-list">
    <div class="suggestion-tile">
        <div class="row">
            <div class="col-sm-3 suggestion-profile">
                <img src="/asset/images/profile.jpg" class="img-responsive img-circle">
            </div>
            <div class="col-sm-9 suggestion-data">
                <div class="suggestion-name">name</div>
                <div class="suggestion-designation">designation</div>
            </div>
        </div>
    </div>
</div>
