<section class="login-wrapper">
    <form name="login">
        <div class="row">
            <div class="col-xs-3">
                <label for="name">Username</label>
            </div>
            <div class="col-xs-9">
                <div class="form-group">
                     <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label for="name">Password</label>
            </div>
            <div class="col-xs-9">
                <div class="form-group">
                     <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 col-xs-offset-3">
                <p class="error invalid-attempt">Wrong Username or Password</p>
            </div>
            <div class="submit-wrapper">
                <button type="submit" class="btn btn-primary" id="login">Login</button>
            </div>
        </div>
    </form>
</section>
