<div class="panel-body thumbnail">
    <img src="{{userProfile.profileImage}}" alt="{{userName}}" class="img-responsive profile-image">
    <div class="person-name">{{userName}}</div>
    <div class="person-designation">{{userDesignation}}</div>
    <div class="person-data">
        <div class="row">
            <div class="col-xs-4 col-sm-12 col-md-4">
                <div class="person-followings">{{following}}</div>
                <span>Followings</span>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-4">
                <div class="person-followers">{{followers}}</div>
                <span>Followers</span>
            </div>
            <div class="col-xs-4 col-sm-12 col-md-4">
                <div class="person-activity">{{activities}}</div>
                <span>Activity</span>
            </div>
        </div>
    </div>
</div>
